{% extends 'base.html' %}

{% block main_area %}

{% load static %}

<a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Main JS File -->
<script src="{% static 'single_pages/js/main.js' %}"></script>


<!-- Page Title -->
<div class="page-title light-background">
  <div class="container">
    <h1>Warning</h1>
    <nav class="breadcrumbs">
      <ol>
        <li><a href="/">Home</a></li>
        <li class="current">Warning</li>
      </ol>
    </nav>
  </div>
</div>


<!-- Main Section -->
<section id="team" class="team section">

  <div class="site-section slider-team-wrap"  style="margin-bottom: 300px;">
    <div class="container">

      <div class="slider-nav d-flex justify-content-end mb-3">
        <a href="#" class="js-prev js-custom-prev"><i class="bi bi-arrow-left-short"></i></a>
        <a href="#" class="js-next js-custom-next"><i class="bi bi-arrow-right-short"></i></a>
      </div>

      {% if warning %}
        <div class="swiper init-swiper" data-aos="fade-up" data-aos-delay="100">
          <script type="application/json" class="swiper-config">
            {
              "loop": true,
              "speed": 600,
              "autoplay": {

                "delay": 5000
              },
              "slidesPerView": "1",
              "pagination": {
                "el": ".swiper-pagination",
                "type": "bullets",
                "clickable": true
              },
              "navigation": {
                "nextEl": ".js-custom-next",
                "prevEl": ".js-custom-prev"
              },
              "breakpoints": {
                "640": {
                  "slidesPerView": 2,
                  "spaceBetween": 30
                },
                "768": {
                  "slidesPerView": 3,
                  "spaceBetween": 30
                },
                "1200": {
                  "slidesPerView": 3,
                  "spaceBetween": 30
                }
              }
            }
          </script>
          <div class="swiper-wrapper">
            {% for member in warning %}
              <div class="swiper-slide">
                <div class="team">
                  <div class="pic">
                    <img src="{{ member.image.url }}" alt="{{ member.title }}" class="img-fluid" style="width: 800px; height: 310px; object-fit: cover;">
                  </div>
                  <h3>{{ member.title }}</h3>
                  <span class="d-block position">{{ member.hook_text }}</span>
                  <p>
                    {{ member.description }}
                  </p>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      {% else %}
        <p class="text-center mt-5">게시글이 없습니다.</p>
      {% endif %}

    </div>
    <!-- /.container -->
  </div>
</section><!-- /Team Section -->


{% endblock %}