<div class="col-lg-4">
    {% block sidebar %}
    <div class="card mb-4">
        <div class="card-header">Search</div>
        <div class="card-body">
            <div class="input-group">
                <input class="form-control" type="text" placeholder="Enter search term..." aria-label="Enter search term..." aria-describedby="button-search" />
                <button class="btn btn-primary" id="button-search" type="button">Go!</button>
            </div>
        </div>
    </div>
    <div class="card mb-4">
        <div class="card-header">Categories</div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-6">
                    <ul class="list-unstyled mb-0">
                        <li><i class="fas fa-home"></i>
                          <a href="https://parkjuyoung-hodo.github.io/ppark_softeng2024/index.html">HOMEPAGE</a>
                        </li>
                        <li><i class="fab fa-github"></i>
                          <a href="https://github.com/parkjuyoung-hodo/ppark_softeng2024">GITHUB</a>
                        </li>
                        <li><i class="fas fa-lock"></i>
                          <a href="http://127.0.0.1:8000/admin/">ADMIN</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-6">
                    <ul class="list-unstyled mb-0">
                        <li><i class="fas fa-graduation-cap"></i>
                          <a href="https://portal.jbnu.ac.kr/web/index.do">JBNU</a>
                        </li>
                        <li><i class="fas fa-globe"></i>
                          <a href="https://oasis.jbnu.ac.kr/com/login.do">OASIS</a>
                        </li>
                        <li><i class="fas fa-book"></i>
                          <a href="https://ieilms.jbnu.ac.kr/login/login2.jsp">LMS</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
</div>