{% extends 'layout.html' %}

{% block content %}

<h2>은빈_주영이들의 이야기들을 담은 홈페이지 입니다~ <av> <b> 악플 노노노~</b></av></h2>

<label for="inputA">평수를 구해드립니다! 면적을 입력하세요! (단위:㎡)</label>
<input id="inputA" value=3.3 onkeyup="doSomething()">

<p><span id="valueA">3.3</span> ÷ 3.3 = <span id="valueC">1</span>평 입니다.</p>

<p><h3>완벽한 식이 되었습니다~ 성장한 모습을 보고싶으시다면 여기로~ <av> <b> 시기 질투 노노노~</b></av></h3></p>
<a href="https://github.com/parkjuyoung-hodo/ppark_softeng2024">Go to 은빈 주영이의 과제들</a>
<hr />
<nav><img src="{{ url_for('static', filename='images/welcome.jpg') }}" width="600px"></nav>

{% endblock %}
