{% extends 'layout.html' %}

{% block content %}
<h1>은빈이네</h1>
<h2>안녕하세요!</h2>
<h2>이것저것 이번 학기에 수강 중인 과목 위주의 과제물을 정리한 페이지입니다.</h2>


<hr />
<h3>[응용소프트웨어 개발]</h3>
<a href="https://github.com/eunbin04/softeng2024">응소 Github 바로가기</a><br>


<hr />
<h3>[인공지능 개론 및 실습]</h3>
<p>1주차 실습 : DQN 기반의 자율 주행 자동차 학습 시스템</p>
<video width="600" controls>
<source src="images/ai_dqn.mp4" type="video/mp4"></video>


<hr />
<h3>[사진의 이해]</h3>
<p>1주차 주제 : 선</p>
<img src="{{ url_for('static', filename='images/line.jpg') }}" width="150px">
<img src="{{ url_for('static', filename='images/leaf.jpg') }}" width="265px">
<p>2주차 주제 : 흔적</p>
<img src="{{ url_for('static', filename='images/tree.jpg') }}" width="150px">
<img src="{{ url_for('static', filename='images/step.jpg') }}" width="160px">

{% endblock %}
