{% extends 'layout.html' %}

{% block content %}
<div style="text-align:center">

    안녕하세요 주영 블로그 주호도 입니다~~<br><br>
    오늘 블로그를 여기에 작성해보려고 합니다<br><br>
    <img src="{{ url_for('static', filename='softeng_blogimage/blog29.jpg') }}"> <br>
    저는 위에서 보시다 싶이 블로그를 정말 많이 써왔습니다<br>
    이번글을 읽고 더 궁금하시다면 아래에 있는 Go to 주호도 블로그로 들어와주새요!<br>
      <a href="https://blog.naver.com/juhodo_">Go to 주호도 블로그</a><br>
    <h1> 블로그 91일차</h1><br>
    <img src="{{ url_for('static', filename='softeng_blogimage/blog1.jpg') }}" width="500px"><br>
    아침7:30 작업시작<br>
    이거는 아이스플랜트를 심어둔거예요<br>
    파종한 종자들이 많이 남아서 케이크 화분을 만들어 줬답니다~<br><br>
    <img src="{{ url_for('static', filename='softeng_blogimage/blog02.jpg') }}" width="500px"><br>
    상추도 화분으로 팔아보고 싶어서 이렇게 만들어봤어요!<br><br>
    <img src="{{ url_for('static', filename='softeng_blogimage/blog03.jpg') }}" width="500px"><br>
    지금은 이렇게 기르고 있습니다...<br>
    나중에 상추시리즈로 블로그 써볼게요!(많관부)<br><br>
    <img src="{{ url_for('static', filename='softeng_blogimage/blog04.jpg') }}" width="500px"><br>
    카카오 바이크 이렇게 주차하면<br>
    정말감사합니다<br><br>
    <img src="{{ url_for('static', filename='softeng_blogimage/blog05.jpg') }}" width="500px"><br>
    덕분에 편하게 1000원의 아침밥을 먹으러 갈 수 있었어요~<br><br>
    <img src="{{ url_for('static', filename='softeng_blogimage/blog06.jpg') }}" width="500px"><br>
    13:00 4시간 작업끝~ 해삐데이!<br><br>
    <img src="{{ url_for('static', filename='softeng_blogimage/blog07.jpg') }}" width="500px"><br>
    군대 휴가 나온 현준 연우와 놀기로 해서 카페를 가기로 했어요~<br><br>
    <img src="{{ url_for('static', filename='softeng_blogimage/blog08.jpg') }}" width="500px"><br>
    근데 갈 카페를 안찾아둠!<br><br>
    <img src="{{ url_for('static', filename='softeng_blogimage/blog09.jpg') }}" width="500px"><br>
    블로그 쓴다고 이렇게 사진 찍혀주는...진짜 감동이다...<br><br>
    <img src="{{ url_for('static', filename='softeng_blogimage/blog10.jpg') }}" width="500px"><br>
    연우가 알아본 디저트가구 카페로 가는중!<br><br>
    <img src="{{ url_for('static', filename='softeng_blogimage/blog11.jpg') }}" width="500px"><br>
    그런데...<br><br>
    <img src="{{ url_for('static', filename='softeng_blogimage/blog12.jpg') }}" width="500px"><br>
    '디저트 가구'가 진짜로 가구 집이라는 것...!<br>
    당황 웃김 max<br><br>
    <img src="{{ url_for('static', filename='softeng_blogimage/blog13.jpg') }}" width="500px"><br>
    그래서 다른 카페에 왔어요~<br><br>
    <img src="{{ url_for('static', filename='softeng_blogimage/blog14.jpg') }}" width="500px"><br>
    오히려 좋아<br><br>
    <img src="{{ url_for('static', filename='softeng_blogimage/blog15.jpg') }}" width="500px"><br>
    궁금한 이야기Y 처럼 사진도 찍고<br><br>
    <img src="{{ url_for('static', filename='softeng_blogimage/blog16.jpg') }}" width="500px"><br>
    연우가 타르트를 사줬어요....<br>
    이런 흔치 않은 일을 ...! 기록했답니다 <br><br>
    <img src="{{ url_for('static', filename='softeng_blogimage/blog17.jpg') }}" width="500px"><br>
    푸파완<br><br>
    <img src="{{ url_for('static', filename='softeng_blogimage/blog18.jpg') }}" width="500px"><br>
    연우 현준<br>
    <img src="{{ url_for('static', filename='softeng_blogimage/blog19.jpg') }}" width="500px"><br>
    나영<br>
    <img src="{{ url_for('static', filename='softeng_blogimage/blog20.jpg') }}" width="500px"><br>
    저도 각자 할 거 하다가<br><br>
    <img src="{{ url_for('static', filename='softeng_blogimage/blog21.jpg') }}" width="500px"><br>
    보드게임을 하러갔어요~<br><br>
    <img src="{{ url_for('static', filename='softeng_blogimage/blog22.jpg') }}" width="500px"><br>
    그 다음 다이소에서 돗자리를 사고<br><br>
    <img src="{{ url_for('static', filename='softeng_blogimage/blog23.jpg') }}" width="500px"><br>
    사진도 찍고<br><br>
    <img src="{{ url_for('static', filename='softeng_blogimage/blog24.jpg') }}" width="500px"><br>
    피크닉도 하러 갔습니다~(현준 띠예 고마워~)<br><br>
    <img src="{{ url_for('static', filename='softeng_blogimage/blog27.jpg') }}" width="500px"><br>
    택시를 제가 빠르게 잡고 애들을 불렀습니다.<br><br>
    <img src="{{ url_for('static', filename='softeng_blogimage/blog28.jpg') }}" width="500px"><br>
    모두 안전 귀가를 하고 하루를 마쳤습니다<br>
    여기까지 읽어주신 모든 분들꼐 감사합니다!<br><br>
    다들 잘자요~~

</div>

{% endblock %}
