<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>{{ post.title }}</title>


    <link rel="icon" type="image/x-icon" href="{% static 'blog/assets/favicon.ico' %}" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link rel="icon" type="image/x-icon" href="{% static 'blog/assets/favicon.ico' %}" />
    <link href="{% static 'blog/css/styles.css' %}" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">


</head>
<body>
    {% include 'blog/navbar.html' %}


    {% block header %}
    {% endblock %}



   <div class="container">
        <div class="row">
                {% block main_area %}
                {% endblock %}

            {% include 'blog/sidebar.html' %}


        </div>
   </div>

`

    {% include 'blog/footer.html' %}
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'blog/js/scripts.js' %}"></script>
</body>
</html>
