<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>{% block head_title %}Blog{% endblock %}</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
</head>
<body>

    <!-- Navbar -->
    {% include 'blog/navbar.html' %}

    <!-- Page header -->
    {% block header %}
    {% endblock %}

    <!-- Main content -->
    <div class="container">
        <div class="row">

            {% block main_area %}
            {% endblock %}

        </div>
    </div>

    <!-- Footer -->
    {% include 'blog/footer.html' %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
