<nav aria-label="Pagination">
    <ul class="pagination justify-content-center my-4">
        {% if not page_obj.number == 1 %}
        <li class="page-item">
            <a class="page-link" href="?page=1">처음</a>
        </li>
        {% endif %}

        {% for page_num in page_obj.paginator.page_range %}
            {% if page_num == page_obj.number %}
            <li class="page-item active" aria-current="page">
                <span class="page-link">{{ page_num }}</span>
            </li>
            {% elif page_num > page_obj.number|add:'-3' and page_num < page_obj.number|add:'3' %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
            </li>
            {% endif %}
        {% endfor %}

        {% if not page_obj.number == page_obj.paginator.num_pages %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">마지막</a>
        </li>
        {% endif %}
    </ul>
</nav>