{% extends 'blog/base.html' %}

{% block head_title %}
    Tag Posts
{% endblock %}


{% block header %}
<header>
    <h1 style="margin-left: 240px; margin-top: 18px;">Blog
        {% if category %}
        <span class="badge badge-secondary">{{ category }}</span>
        {% endif %}
        {% if tag %}
        <span class="badge badge-light">
            <i class="fas fa-tags"></i>&nbsp{{ tag.name }} ({{ post_count }})</span>
        {% endif %}
    </h1>
</header>
{% endblock %}


{% block main_area %}
<div class="col-lg-8" style="margin-top: 18px;">
    {% for post in post_list %}
        <div class="card mb-4">
            <a href="{{ post.get_absolute_url }}">
                {% if post.head_image %}
                <img class="card-img-top" src="{{ post.head_image.url }}" style="width: 728px; height: 180px; object-fit: cover;" alt="{{ post }} head image" />
                {% else %}
                <img class="card-img-top" src="https://picsum.photos/seed/{{ post.id }}/800/200" alt="random_image" />
                {% endif %}
            </a>
            <div class="card-body">
                <div class="small text-muted">{{ post.created_at }}</div>
                {% if post.category %}
                <span class="badge badge-secondary float-right">{{ post.category }}</span>
                {% else %}
                <span class="badge badge-secondary float-right">미분류</span>
                {% endif %}
                <h2 class="card-title">{{ post.title }}</h2>
                {% if post.hook_text %}
                <h5 class="text-muted">{{ post.hook_text }}</h5>
                {% endif %}
                <p class="card-text">{{ post.content|truncatewords:45 }}</p>
                <a class="btn btn-primary" href="{{ post.get_absolute_url }}">Read more →</a>
            </div>
            <div class="card-footer text-muted">
                Posted on {{ post.created }} by
                <a href="#">{{ post.author }}</a>
            </div>
        </div>
    {% empty %}
        <p>No posts found for this tag.</p>
    {% endfor %}

    <!-- Pagination -->
    {% include 'blog/pagination.html' %}

</div>

<!-- Sidebar -->
{% include 'blog/sidebar.html' %}

{% endblock %}