{% extends 'single_pages/layout.html' %}
{% load static %}
{% block content %}

<h1><strong>은빈이네</strong></h1>
<h2>안녕하세요!</h2>
<h2>이것저것 이번 학기에 수강 중인 과목 위주의 과제물을 정리한 페이지입니다.</h2>


<hr />
<h3>[응용소프트웨어 개발]</h3>
<i class="fab fa-github"></i>&nbsp;<a href="https://github.com/eunbin04/softeng2024">응소 Github 바로가기</a><br>


<hr />
<h3>[사진의 이해]</h3>
<p>1주차 주제 : 선</p>
<img src="{% static 'single_pages/images/pic1.jpg' %}" width="150px">
<img src="{% static 'single_pages/images/pic2.jpg' %}" width="265px">
<p>2주차 주제 : 흔적</p>
<img src="{% static 'single_pages/images/pic3.jpg' %}" width="160px">
<img src="{% static 'single_pages/images/pic4.jpg' %}" width="150px">

{% endblock %}
