{% extends 'base.html' %}

{% block main_area %}

{% load static %}

<a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Main JS File -->
<script src="{% static 'single_pages/js/main.js' %}"></script>

<!-- Page Title -->
<div class="page-title light-background">
  <div class="container">
    <h1>Raspberry</h1>
    <nav class="breadcrumbs">
      <ol>
        <li><a href="/">Home</a></li>
        <li>Source</li>
        <li class="current">Raspberry</li>
      </ol>
    </nav>
  </div>
</div>

<!-- Portfolio Section -->
<div class="portfolio container" style="margin-top: 15px;">
  <div class="d-flex align-items-center justify-content-between">
    <!-- Filters -->
    <ul class="portfolio-filters d-flex" style="flex-wrap: wrap; gap: 10px; margin-left: 500px; margin-top: 10px;">
      <li><a href="{% url 'single_pages:raspberry' %}" class="filter-active">All</a></li>
      <li><a href="{% url 'single_pages:raspberry' %}?category=app" class="filter-app">App</a></li>
      <li><a href="{% url 'single_pages:raspberry' %}?category=product" class="filter-product">Product</a></li>
      <li><a href="{% url 'single_pages:raspberry' %}?category=branding" class="filter-branding">Branding</a></li>
    </ul>

    <!-- Search Form -->
    <form method="get" action="" class="search-form d-flex align-items-center" style="max-width: 300px; gap: 10px; margin-bottom: 15px;">
      <input type="text" name="q" class="form-control" placeholder="Search..." value="{{ request.GET.q }}">
      <button type="submit" class="btn btn-success">Search</button>
    </form>
  </div>

  <!-- Row for portfolio items -->
  <div class="row gy-4" style="margin-bottom: 300px">
    {% for item in portfolios %}
      <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-{{ item.category }}" data-aos="fade-up" data-aos-delay="100">
        {% if item.image %}
          <img src="{{ item.image.url }}" class="img-fluid" alt="{{ item.title }}" style="width: 600px; height: 350px;"><br><br>
        {% else %}
          <img src="https://picsum.photos/seed/{{ item.id }}/800/600" class="img-fluid" alt="random_image"><br><br>
        {% endif %}
        <div class="portfolio-info">
          <h4>{{ item.title }}</h4>
          <p>{{ item.description }}</p>
        </div>
      </div>
    {% empty %}
      <p>No results found for "{{ request.GET.q }}"</p>
    {% endfor %}
  </div>
</div>

{% endblock %}
