<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta name="description" content="연말 마지막이다! ">
    <meta name="keywords" content="">
    <title>Blog</title>

     <!-- Fonts -->
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{% static 'blog/bootstrap/bootstrap.min.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'blog/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'blog/aos/aos.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'blog/swiper/swiper-bundle.min.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'blog/glightbox/css/glightbox.min.css' %}" rel="stylesheet" media="screen">

    <!-- Main CSS File -->
    <link href="{% static 'blog/css/main.css' %}" rel="stylesheet" media="screen">
</head>


<body class="blog-page">
  <header id="header" class="header d-flex align-items-center sticky-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">
        <a href="" class="logo d-flex align-items-center">
            <h1 class="sitename">Active.</h1>
        </a>

    <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="services.html">Services</a></li>
          <li><a href="portfolio.html">Portfolio</a></li>
          <li><a href="team.html">Team</a></li>
          <li><a href="blog.html" class="active">Blog</a></li>
          <li><a href="">Contact</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
    </nav>

    </div>
  </header>

<main class="main">
    {% block main_area %}
    {% endblock %}

      <!-- Page Title -->
<!--    <div class="page-title light-background">-->
<!--      <div class="container">-->
<!--        <h1>Blog</h1>-->
<!--        <nav class="breadcrumbs">-->
<!--          <ol>-->
<!--            <li><a href="">Home</a></li>-->
<!--            <li class="current">Blog</li>-->
<!--          </ol>-->
<!--        </nav>-->
<!--      </div>-->
<!--    </div>&lt;!&ndash; End Page Title &ndash;&gt;-->

<!--      &lt;!&ndash; Blog Posts 2 Section &ndash;&gt;-->

<!--      <section id="blog-posts-2" class="blog-posts-2 section">-->
<!--          <div class="container">-->

<!--              <div class="row gy-5">-->
<!--                  {% for p in post_list %}-->
<!--                  <div class="col-lg-4 col-md-6">-->
<!--            <article>-->

<!--              <div class="post-img">-->
<!--                  {% if p.head_image %}-->
<!--                    <img src="{{ p.head_image.url }}" alt="{{ p }} head image" class="img-fluid" style="width: 800px; height: 310px; object-fit: cover;">-->
<!--                  {% else %}-->
<!--                    <img src="https://picsum.photos/seed/{{ p.id }}/800/310" alt="random_image">-->
<!--                  {% endif %}-->
<!--              </div>-->

<!--              <div class="meta-top">-->
<!--                <ul>-->
<!--                  <li class="d-flex align-items-center"><i class="bi bi-dot"></i>{{ p.created_at }}</li>-->
<!--                </ul>-->
<!--              </div>-->

<!--              <h2 class="title"><a href="{{ p.get_absolute_url }}">{{ p.title }}</a></h2>-->
<!--                {% if p.hook_text %}-->
<!--                    <h5 class="text-muted">{{ p.hook_text }}</h5>-->
<!--                {% endif %}-->

<!--            </article>-->
<!--                  </div>&lt;!&ndash; End post list item &ndash;&gt;-->
<!--                  {% endfor %}-->
<!--          </div>-->


<!--      &lt;!&ndash; Blog Pagination Section &ndash;&gt;-->
<!--    <section id="blog-pagination" class="blog-pagination section">-->

<!--      <div class="container">-->
<!--        <div class="d-flex justify-content-center">-->
<!--          <ul>-->
<!--            <li><a href="#"><i class="bi bi-chevron-left"></i></a></li>-->
<!--            <li><a href="#">1</a></li>-->
<!--            <li><a href="#">2</a></li>-->
<!--            <li><a href="#">3</a></li>-->
<!--            <li><a href="#">4</a></li>-->
<!--            <li>...</li>-->
<!--            <li><a href="#">10</a></li>-->
<!--            <li><a href="#"><i class="bi bi-chevron-right"></i></a></li>-->
<!--          </ul>-->
<!--        </div>-->
<!--      </div>-->

<!--    </section>&lt;!&ndash; /Blog Pagination Section &ndash;&gt;-->
</main>

<footer id="footer" class="footer light-background">
    <div class="container">
      <div class="row g-4">
        <div class="col-md-6 col-lg-3 mb-3 mb-md-0">
          <div class="widget">
            <h3 class="widget-heading">About Us</h3>
            <p class="mb-4">
              There live the blind texts. Separated they live in Bookmarksgrove
              right at the coast of the Semantics, a large language ocean.
            </p>
            <p class="mb-0">
              <a href="#" class="btn-learn-more">Learn more</a>
            </p>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 ps-lg-5 mb-3 mb-md-0">
          <div class="widget">
            <h3 class="widget-heading">Navigation</h3>
            <ul class="list-unstyled float-start me-5">
              <li><a href="#">Overview</a></li>
              <li><a href="#">About Us</a></li>
              <li><a href="#">Find Buyers</a></li>
            </ul>
            <ul class="list-unstyled float-start">
              <li><a href="#">Overview</a></li>
              <li><a href="#">About Us</a></li>
              <li><a href="#">Services</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 pl-lg-5">
          <div class="widget">
            <h3 class="widget-heading">Recent Posts</h3>
            <ul class="list-unstyled footer-blog-entry">
              <li>
                <span class="d-block date">May 3, 2020</span>
                <a href="#">There live the Blind Texts</a>
              </li>
              <li>
                <span class="d-block date">May 3, 2020</span>
                <a href="#">Separated they live in Bookmarksgrove right</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 pl-lg-5">
          <div class="widget">
            <h3 class="widget-heading">Connect</h3>
            <ul class="list-unstyled social-icons light mb-3">
              <li>
                <a href="#"><span class="bi bi-facebook"></span></a>
              </li>
              <li>
                <a href="#"><span class="bi bi-twitter-x"></span></a>
              </li>
              <li>
                <a href="#"><span class="bi bi-linkedin"></span></a>
              </li>
              <li>
                <a href="#"><span class="bi bi-google"></span></a>
              </li>
              <li>
                <a href="#"><span class="bi bi-google-play"></span></a>
              </li>
            </ul>
          </div>
        </div>
      </div>

          <div class="copyright d-flex flex-column flex-md-row align-items-center justify-content-md-between">
        <p>© <span>Copyright</span> <strong class="px-1 sitename">Active.</strong> <span>All Rights Reserved</span></p>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you've purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: [buy-url] -->
          Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
      </div>
    </div>
    </footer>




</body>
</html>