{% extends 'blog/base.html' %}

{% block head_title %}
    Blog Posts
{% endblock %}

{% block header %}
<header class="py-5 bg-light border-bottom mb-4">
    <div class="container">
        <div class="text-center my-5">
            <h1 class="fw-bolder">Welcome to Our Blog!</h1>
        </div>
    </div>
</header>
{% endblock %}


{% block main_area %}
<div class="col-lg-8">
    {% for post in object_list %}
    <div class="card mb-4">
        <a href="{{ post.get_absolute_url }}">
            {% if post.head_image %}
            <img class="card-img-top" src="{{ post.head_image.url }}" style="width: 728px; height: 180px; object-fit: cover;" alt="{{ post }} head image" />
            {% else %}
            <img class="card-img-top" src="https://picsum.photos/seed/{{ post.id }}/800/200" alt="random_image" />
            {% endif %}
        </a>
        <div class="card-body">
            <div class="small text-muted">{{ post.created_at }}</div>
            <h2 class="card-title">{{ post.title }}</h2>
            {% if post.hook_text %}
            <h5 class="text-muted">{{ post.hook_text }}</h5>
            {% endif %}
            <p class="card-text">{{ post.content|truncatewords:45 }}</p>
            <a class="btn btn-primary" href="{{ post.get_absolute_url }}">Read more →</a>
        </div>
    </div>
    {% empty %}
    <p>No posts available.</p>
    {% endfor %}

    <!-- Pagination -->
    <nav aria-label="Pagination">
        <ul class="pagination justify-content-center my-4">
            <li class="page-item" aria-current="page"><a class="page-link" href="http://127.0.0.1:8000//blog/?page=1#!">1</a></li>
            <li class="page-item"><a class="page-link" href="http://127.0.0.1:8000//blog/?page=2#!">2</a></li>
        </ul>
    </nav>

</div>
{% endblock %}
