<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>박은빈_박주영 블로그</title>
    <link href="{{ url_for('static', filename='css/practice.css') }}" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="{{ url_for('static', filename='add_two_numbers.js') }}"></script>
</head>

<body>
    <nav>
        <a href="{{ url_for('index_page') }}">누리집</a>
        <a href="{{ url_for('to_eunbin_page') }}">은빈이네로 놀러오세요</a>
        <a href="{{ url_for('to_juyoung_page') }}">주영이네로 놀러오세요</a>
        <a href="{{ url_for('blog_list') }}">블로그</a>
    </nav>


    <div>
        {% block content %}

        {% endblock %}
    </div>

</body>

</html>