{% extends 'layout.html' %}
<link href="./bootstrap4/css/bootstrap.min.css" rel="stylesheet" type="text/css">

{% block content %}
<h1>은빈이네</h1>
<h2>안녕하세요!</h2>
<h2>이것저것 이번 학기에 수강 중인 과목 위주의 과제물을 정리한 페이지입니다.</h2>


<hr />
<h3>[응용소프트웨어 개발]</h3>
<a href="https://github.com/eunbin04/softeng2024">응소 Github 바로가기</a><br>


<hr />
<h3>[인공지능 개론 및 실습]</h3>
<p>1주차 실습 : DQN 기반의 자율 주행 자동차 학습 시스템</p>
<video width="600" controls>
<source src="images/ai_dqn.mp4" type="video/mp4"></video>


<hr />
<h3>[사진의 이해]</h3>
<p>1주차 주제 : 선</p>
<img src="{{ url_for('static', filename='images/line.jpg') }}" width="150px">
<img src="{{ url_for('static', filename='images/leaf.jpg') }}" width="265px">
<p>2주차 주제 : 흔적</p>
<img src="{{ url_for('static', filename='images/tree.jpg') }}" width="150px">
<img src="{{ url_for('static', filename='images/step.jpg') }}" width="160px">

</div>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
{% endblock %}