{% extends 'blog/base.html' %}

{% block main_area %}
<!-- Page Title -->
<div class="page-title light-background">
    <div class="container">
        <h1>Blog</h1>
        <nav class="breadcrumbs">
          <ol>
            <li><a href="/">Home</a></li>
            <li class="current">Blog</li>
          </ol>
        </nav>
    </div>
</div>

<!-- Blog Posts 2 Section -->
<section id="blog-posts-2" class="blog-posts-2 section">
  <div class="container">
      <div class="row gy-5">

        {% for p in post_list %}
        <div class="col-lg-4 col-md-6">
            <article>

                  <div class="post-img">
                      {% if p.head_image %}
                        <img src="{{ p.head_image.url }}" alt="{{ p }} head image" class="img-fluid" style="width: 800px; height: 310px; object-fit: cover;">
                      {% else %}
                        <img src="https://picsum.photos/seed/{{ p.id }}/800/310" alt="random_image">
                      {% endif %}
                  </div>

                  <div class="meta-top">
                    <ul>
                      <li class="d-flex align-items-center"><i class="bi bi-dot"></i>{{ p.created_at }}</li>
                    </ul>
                  </div>

                  <h2 class="title">
                      <a href="{{ p.get_absolute_url }}">{{ p.title }}</a>
                  </h2>

                  {% if p.hook_text %}
                    <h5 class="text-muted">{{ p.hook_text }}</h5>
                  {% endif %}

            </article>
        </div>
        {% endfor %}

      </div>
  </div>
</section>


<!-- Blog Pagination Section -->
<section id="blog-pagination" class="blog-pagination section">

  <div class="container">
    <div class="d-flex justify-content-center">
      <ul>
        <li><a href="#"><i class="bi bi-chevron-left"></i></a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li>...</li>
        <li><a href="#">10</a></li>
        <li><a href="#"><i class="bi bi-chevron-right"></i></a></li>
      </ul>
    </div>
  </div>

</section>

{% endblock %}



    {% load static %}
    <script src="{% static 'blog/swiper/swiper-bundle.min.js'%}" defer></script>
    <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
    <!-- Main JS File -->
    <script src="{% static 'blog/static/js/main.js' %}" defer></script>
    <!--구현이 안된다ㅠㅠㅠ-->

</body>
</html>