{% extends 'base.html' %}

{% block main_area %}

{% load static %}

<a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Main JS File -->
<script src="{% static 'single_pages/js/main.js' %}"></script>

<!-- Page Title -->
<div class="page-title light-background">
  <div class="container">
    <h1>Raspberry</h1>
    <nav class="breadcrumbs">
      <ol>
        <li><a href="/">Home</a></li>
        <li class="current">Send Email</li>
      </ol>
    </nav>
  </div>
</div>


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>이메일 전송 실패</title>
</head>
<body>
    <h1>이메일 전송에 실패했습니다.</h1>
    <p>에러 메시지: {{ error }}</p>
</body>

{% endblock %}
